/* common style for whole website */
body {
    font-family: 'Noto Sans JP', sans-serif;
}
/* navbar and header */
.backpack-head img{
  width: 300px; 
}
.backpack-head{
    background-color: #FFFFF4;
}