/* common style for whole website */
body {
  font-family: 'Noto Sans JP', sans-serif;
}

.cart-button {
  background-color: #2A1E59;
  padding: 15px 25px;

}
p {
  color: gray;
}
h1 {
  font-size: 60px;
}
h5 {
  color:#2F4369 ;
}

/* navbar and header */
.logo-png {
  width: 280px;
}
.backpack-head {
  background-color: #FFFFF4;
}
.selling-picture {
  width: 400px;
}
/* about us information */
.about-us-info img {
  width: 100px;
}
@media (max-width: 600px) {
  .info-title {
      display: flex;
      justify-content: center;
  }
}
